.full {
  padding: 25px;
  float: right;
  width: 85%;
}

.main {
  float:left;
  width:70%;
}

.controlBtn {
  margin: 5px;
}

.aux {
  float: right;
  width: 30%;
}

.bannerSelector {
  display: flex;
}

.bannerSelector > * {
  margin: 0px 5px;
}

.bannerTypeDropdown {
  width: 160px;
}

.bannerInput {
  max-width: 550px;
}

.bannerPopover .popover{
  background-color: aliceblue;
  max-width: 550px;
  max-height: 50vh;
  padding: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.popover-body {
  padding: 0px !important;
}

.bannerDropList {
  width: 550px;
  margin: 0px;
}

.bannerSelectItem:hover {
  background-color: rgb(155, 191, 245);
  transition: 200ms;
}

.bannerInfoContainer {
  width: 100%;
}

.bannerInfoContainer>* {
  display:inline-block;
  vertical-align: top;
  padding: 5px;
}

.basicInfoBlock {
  width: 50%;
}

.bannerImg {
  width: 100%;
}

.imgPlaceholder {
  border: 1px solid black;
  padding-bottom: 50%;
}

.bannerTable {
  width: 50%;
}

.bannerDateSpan {
  color: coral;
}

.epDropdown {
  padding-left: 5px;
}