.full {
  padding: 25px;
  float: right;
  width: 85%;
}

.main {
  float:left;
  width:70%;
}

.controlBtn {
  margin: 5px;
}

.aux {
  float: right;
  width: 30%;
}

.bannerSelector > div {
  margin: 5px;
}